*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body,
ul,
li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 100;
  list-style: none;
  display: inline;
  box-sizing: border-box;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color:  #eee;
}

.cardlist_main {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;
}

.cardlist--sub {
    display: flex;
    padding: 10px;
    align-items: center;
    box-shadow: 0 8px 6px -6px silver;
    height: 9vh;
    margin: 1px;
    background-color: white;
}

input.cardlist--check {
   margin: 6px;
}

.input{
    width: 100%;
}

li input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
  }
  
  .input:focus {
    outline: none;
  }

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

textarea:focus {
    outline: none;
}